includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	ignoreErrors:
		- '#::__construct\(\) does not call parent constructor from Nette\\ComponentModel\\Component#'
		- '#, PHPUnit_Framework_MockObject_MockObject given#'
		- '#does not accept PHPUnit_Framework_MockObject_MockObject#'
